{% extends "base.html" %}
{% block content %}
<section id="mainSection">
  <div class="container">
    <article>
      <div class="bg-faded p-4 my-4">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title text-center">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Who am I?
                </a>
              </h4>
            </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"  href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <div class="panel-body">
                Hello, my name is Maria. I’m technology freak, internet nut, passionista, MavHERick, rain and sun lover who wants to make a difference by helping others and companies through advising on healthier and environmental friendly living.
                I have produced this site for people who are interested in a healthier lifestyle as well as to help smaller green companies to promote themselves.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title text-center">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  What is lobbying? Facts.
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p>Lobbying is any attempt by individuals or private interest groups to influence the decisions of government; in its original meaning it referred to efforts to influence the votes of legislators, generally in the lobby outside the legislative chamber.
                Some interesting facts:</p>
                <ol>
                <li>Lobbyists raise gobs of money for elected officials.
                Here is how it works. Lets say you are a big food conglomerate. You want to buy influence with a government representative who is on the committee to allow new chemicals in food production so he will vote your way on an upcoming bill. The easiest way would be to give just give £100.000 directly to the MPs reelection campaign. But that would be illegal – law prohibits companies from making direct donations to candidates. So instead you hire a lobbying firm. That lobbying firm can legally organize a swanky fundraiser that brings in £100.000 for the reelection campain. At the fundraiser your lobbyist just happens to have a friendly chat about your feelings about the new bill with the MPs staff. At the end of day the MP is still £100.000 up, he still knows exactly where the money came from and he knows which way to vote if he wants to money to keep flowing. But this time no one broke the law.</li>
                <li>Lobbyists write laws themselves
                For an example, look at the 2014 omnibus budget deal.  Congress used the deal to secretly put taxpayers back on the hook for bank bailouts. That’s right – in 2014, our representatives  repealed a law that prevented the American people from bailing out big banks that engage in risky derivatives trading. Sorry to be the bearer of bad news.
                The New York Times reports that 70 of the 85 lines in the language that killed the derivatives bill came from a piece of model legislation drafted by Citigroup lobbyists. Yes, that Citigroup –  the bank that played a major role in the 2008 crisis and also received billions of federal stimulus dollars.
                The same report also revealed that “two crucial paragraphs, prepared by Citigroup in conjunction with other Wall Street banks, were copied nearly word for word.” You can even view the original documents and see how Citigroup’s lobbyists redrafted the House bill, striking out ideas they didn’t like and replacing them with ones they did. Citigroup quite literally wrote its own rules.
                The members of Congress who originally backed the Citigroup-authored bill received massive amounts of money from Wall Street — likely channeled through, you guessed it, swanky fundraisers.
                To be clear, this isn’t just a problem with big banks. The exact same thing happens all the time on nearly every issue. Just last week, we reported on how lobbyists for the chemical industry may have authored entire portions of a bill that shuts down state-based efforts to crack down on toxic chemicals.</li>
                <li> Lobbyist effectively bribe members of parliaments with lucrative job offers to become lobbyists
                Lobbyists routinely offer members of parliament and their staffers lucrative jobs at their firms or their clients’ companies. These negotiations often take place while our representatives are still in office and, ostensibly, working for us, the people. With multi-million future salaries on the line, most members of parliament are more than willing to protect the best interests of the lobbyists who will one day be their employers. The phenomenon of members of parliament heading off to work for lobbying firms and their clients is know as “the revolving door.” And it’s become shockingly common: in the 1970s, less than 5% of retiring legislators went on to become lobbyists. Now nearly a third of retiring members of parliament do.</li>
                <li>Politicians who walk through the revolving door are in for a massive raise
                It’s hard to overemphasize how tempting a revolving door gig can be. Members of parliament who go on to become lobbyists get, on average, a 1,452% raise. Small wonder they’re willing to throw a few votes the lobbyists’ way with that kind of money on the line</li>
                <li>And that’s just the lobbyists we know about
                Thanks to loopholes in how federal law defines lobbyists, many elected officials go on to take what are effectively revolving door lobbying jobs without ever having to officially register as lobbyists. These “shadow lobbyists,” are lobbyists in everything but name, and they’re certainly paid just as well as the real thing. Researchers estimate that there’s actually twice as much lobbying as what’s publicly disclosed — making the business of influencing politicians a $7 billion industry.</li>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title text-center">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Global warming facts.
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
              <ol>
              <li> Gobal temperature rise
              The planet's average surface temperature has risen about 1.62 degrees Fahrenheit (0.9 degrees Celsius) since the late 19th century, a change driven largely by increased carbon dioxide and other human-made emissions into the atmosphere. Most of the warming occurred in the past 35 years, with the five warmest years on record taking place since 2010. Not only was 2016 the warmest year on record, but eight of the 12 months that make up the year — from January through September, with the exception of June — were the warmest on record for those respective months.</li>
              <li>Warming oceans
              The oceans have absorbed much of this increased heat, with the top 700 meters (about 2,300 feet) of ocean showing warming of 0.302 degrees Fahrenheit since 1969.</li>
              <li>Shrinking ice sheets
              The Greenland and Antarctic ice sheets have decreased in mass. Data from NASA's Gravity Recovery and Climate Experiment show Greenland lost an average of 281 billion tons of ice per year between 1993 and 2016, while Antarctica lost about 119 billion tons during the same time period. The rate of Antarctica ice mass loss has tripled in the last decade.</li>
              <li>Glacial retreat
              Glaciers are retreating almost everywhere around the world — including in the Alps, Himalayas, Andes, Rockies, Alaska and Africa.</li>
              <li> Decreased snow cover. Satellite observations reveal that the amount of spring snow cover in the Northern Hemisphere has decreased over the past five decades and that the snow is melting earlier.</li>
              <li> Sea level rise
              Global sea level rose about 8 inches in the last century. The rate in the last two decades, however, is nearly double that of the last century.</li>
              <li> Declining Artic sea ice
              Both the extent and thickness of Arctic sea ice has declined rapidly over the last several decades.</li>
              <li> Extreme events
              The number of record high temperature events in the World has been increasing, while the number of record low temperature events has been decreasing, since 1950. We have also witnessed increasing numbers of intense rainfall events.</li>
              <li>Ocean acidification and waste dump
              Since the beginning of the Industrial Revolution, the acidity of surface ocean waters has increased by about 30 percent. This increase is the result of humans emitting more carbon dioxide into the atmosphere and hence more being absorbed into the oceans. The amount of carbon dioxide absorbed by the upper layer of the oceans is increasing by about 2 billion tons per year. Also the amount of plastics and other waste being dumped into our oceans. Microplastics can now also be found in our food after sea creatures obsorbing them with their food.</li>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title text-center">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Institutions fighting against corruption.
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                <p>This years corruption perceptions index highlights that the majority of counrtires are making little or no progress in ending corruption, while journalists and activists in corrupt countries risk their lives every day in an effort to speak out.</p>
                <img src="{{ url_for('static', filename='bower_components/app/img/corruptionmap.png') }}"/>
                <p>Key players in the development community are meeting in New York for the main United Nations conference on sustainable development, the High-Level Political Forum (HLPF). Transparency International is there to highlight how corruption obstructs development and report on how effectively countries are tackling this issue. We are also underlining how important it is to include civil society in efforts to address corruption and ensure peaceful, just and inclusive societies.
                Underdevelopment and inequality make life insecure and reduce opportunities. <b>Eight hundred and forty four million</b>people lack access to clean water and live in fear of fatal water-borne diseases. Almost <b>60 million children</b> of primary school age are not enrolled in school and nearly <b>65 million adolescents</b> are deprived a secondary school education. These kind of challenges do not only affect low-income countries; <b>40 million</b> US citizens and <b>1.5 million</b> UK citizens live in poverty, unable to afford essentials like shelter, food or heating.</p>
                <h3>CORRUPTION AND DEVELOPMENT</h3>
                <p>Corruption hinders development around the world. Developing countries lose roughly US$1.26 trillion to corruption, bribery, theft and tax evasion each year. This slows economic growth, reduces investment and diverts funds for essential services. Corruption also undermines trust in government and excludes already disadvantaged communities, increasing instability and inequality. Crucially, most of this US$1.26 trillion travels to richer countries, who have an obligation to not only support anti-corruption efforts abroad, but to also tackle corruption at home.
                Substantially reducing corruption is a key commitment of the United Nations’ Sustainable Development Goals (SDGs), which aim to end poverty, protect the planet and ensure good health for all by 2030. The goals have been adopted by 193 nations and reviewing each nation’s progress against these goals is the focus of the HLPF in New York. Acknowledging that poor governance and corruption can cripple sustainable development initiatives, the international community chose to include a number of targets related to corruption in Goal 16 on peace, justice and strong institutions.
                In fact, without robust efforts to tackle corruption in all its forms, progress toward every one of the SDGs is likely to be limited. Where bribed authorities turn a blind eye to the dumping of industrial waste into rivers, Goal 6 on clean water and sanitation will not be met. Where public servants embezzle money intended to hire teachers, Goal 4 on quality education will remain elusive. Where corruption reduces funds for medical supplies, progress on SDG 3 targets on healthcare will not be realised.</p>
                <h3>REPORTING ON PROGRESS</h3>
                <p>If governments are truly committed to their pledge to leave no one behind, then we expect them to prioritise measures to curb corruption and be open about their efforts to do so.  
                However, governments are often reluctant to report candidly about their anti-corruption frameworks and activities. When they do mention them, they often give incomplete and inaccurate information.
                This is why civil society organisations (CSOs) have such a vital role to play in reviewing progress toward achieving SDGs. They can provide supplementary, citizen-orientated data on national progress or stagnation.
                In this spirit, Transparency International chapters around the world produce parallel reportsto identify shortcomings in national anti-corruption frameworks and make policy recommendations to address them. This year we brought 12 countries’ reports to the HLPF that uncover a range of issues, from poor law enforcement in Armenia, to the lack of political campaign finance regulation in Sri Lanka and a Palestinian judiciary that lacks independence from the government.</p>
                <h3>INCLUDING CIVIL SOCIETY</h3>
                <p>The extent to which governments listen to constructive criticism varies by country, and the risk is that civil society reports are ignored and crucial governance failings remain unaddressed.
                Consequently, Transparency International recommends that the UN provides a formal platform at future HLPFs for civil society to interact with government delegations when official government reports are presented.
                Enabling constructive dialogue between different stakeholders is at the heart of sustainable development, and where civil society can supplement and scrutinise government reports, we will be better able to ensure that no-one is left behind during the implementation of the SDGs.</p>
                <p>
                <h4>Below you can find links to some of the anticorruption institutions.</h4>
                <a href="http://www.transparency.org">Tranparency</a></br>
                <a href="http://www.track.unodc.org/ACAuthorities/Pages/home.aspx">Unodc</a></br>
                <a href="http://www.anticorruptionday.org/actagainstcorruption/en/resources/index.html">Antocorruptionday</a></br>
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title text-center">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Nocive products on the market and diseases.
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <p>Common chemicals found in every home may be causing cancer, asthma, birth defects and reduced fertility, the World Health Organisation has warned.
                In a landmark report, the WHO warned “synthetic chemicals” had “serious implications” for human health.
                The global health watchdog suggested so-called “gender-bending” compounds found in toys, PVC flooring and even credit cards should be banned in order to protect future generations.
                The study said that more research was needed to fully understand the links between endocrine disrupting chemicals (EDCs) – found in many household and industrial products – and “specific diseases and disorders”.
                It found links between exposure to EDCs and health issues such as testicular problems, breast, prostate and thyroid cancer, developmental effects on the nervous system in children and attention deficit hyperactivity in children.
                The UN agency said the study, titled State of the Science of Endocrine Disrupting Chemicals, was the most “comprehensive” report on EDCs to date because it has evaluated several chemicals and related evidence rather than focusing on just one.
                The report, published following more than two years of research, admitted it was “reasonable to suspect” substances called phthalates – often found in pesticides bisphenol A and other PCBs – harmed female fertility and increased childhood illnesses such as leukaemia.</p>
                <p>It also flagged concerns of bisphenol A, a man-made compound found in a host of daily items such as tin cans and sunglasses, which is thought to interfere with the natural hormones that influence a person’s development and growth.
                According to the WHO, there was “very strong evidence” in animals they can interfere with thyroid hormones, which could cause brain damage, decrease intelligence, attention deficit hyperactivity disorder and autism.
                In prostate cancer, “significant evidence” existed that suggested a link with agricultural pesticides, the team of international medical experts found. It also said wildlife was at risk.
                “The diverse systems affected by endocrine-disrupting chemicals likely include all hormonal systems and range from those controlling development and function of reproductive organs to the tissues and organs regulating metabolism and satiety,” said the report.</p>
                <p>“Effects on these systems can lead to obesity, infertility or reduced fertility, learning and memory difficulties, adult-onset diabetes or cardiovascular disease, as well as a variety of other diseases.”
                The same report published a decade ago, found only “weak evidence” that the chemicals harmed human health.
                “The latest science shows that communities across the globe are being exposed to EDCs, and their associated risks,” said Dr Maria Neira, WHO’s Director for Public Health and Environment.
                “WHO will work with partners to establish research priorities to investigate links to EDCs and human health impacts in order to mitigate the risks.
                “We all have a responsibility to protect future generations.”
                The study reflected similar warnings from the European Environment Agency (EEA) last year, which warned items such as cosmetics and medicines containing EDCs could be harmful to humans.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
              <h4 class="panel-title text-center">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Register your project.
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSeven">
              <h4 class="panel-title text-center">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  Why do you have a mission?
                </a>
              </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      </div>
      </article>
      <article>
      <div class="bg-faded p-4 my-4">
        <hr>
        <div class="box1">
            <ul class="nav-pills text-expanded" id="brandIcons">
                <li class="">
                   <i style="font-size:36px" class="fa">&#xf173;</i>
                </li>
                 <li class="">
                    <i class="fa fa-twitter" style="font-size:36px"></i>
                </li>
                <li class="">
                    <i class="fa fa-facebook" style="font-size:36px"></i>
                </li>
                 <li class="">
                    <i class="fa fa-youtube" style="font-size:36px"></i>
                </li>
                <li class="">
                    <i class="fa fa-rss" style="font-size:36px"></i>
                </li>
            </ul>
          </div>
      </div>
      </article>
  </div>
</section>
{% endblock %}
