<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Okra</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='bower_components/bootstrap/dist/css/bootstrap.min.css' )}}" type="text/css">
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"  type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata|Pacifico">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static',filename='bower_components/app/css/cover.css' )}}" type="text/css" >
    <!--Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="container-fluid">
          <!--Navigation -->
          <nav class="navbar navbar-default navbar-expand-md" role="navigation">
            <div class="col-md-6">
              <div class="navbar-brand">
                <a href="{{ url_for('home') }}"><i>Start Okra</i></a>
              </div>
            </div>
            <div class = "col-md-6">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menubarResponsive">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse collapse" id="menubarResponsive">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <!--<a class="nav-link text-lowercase text-capitalize text-expanded" href="#video">Watch</a>-->
                        <span class="glyphicon glyphicon-play-circle" data-toggle="tooltip" title="Play music" id="playmusic"></span>
                        <span class="glyphicon glyphicon-pause" data-toggle="tooltip" title="Stop music" id="stopmusic"></span>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-lowercase text-capitalize text-expanded" href="#services">Services</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-lowercase text-capitalize text-expanded" href="#team">Team</a>
                      </li>
                       <li class="nav-item">
                        <a class="nav-link text-lowercase text-capitalize text-expanded" href="#contact">Contact</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-lowercase text-capitalize text-expanded" href="#info">Information</a>
                      </li>
                    </ul>
                </div> <!--navbar-collapse-->
            </div>
          </nav> <!--navbar-default-->
      </div><!--container fluid-->
    </header>
    <section id="intro">
      <div class="container-fluid">
        <div class="intro-text">
              <div class="intro-lead-in">Your favorite source for a better life.</div>
              <div class="intro-heading">#OKRA. Let's make a change.</div>
        </div>
        <div class="music-player">
              <audio controls autoplay loop id="music">
                  <source src="{{ url_for('static',filename='bower_components/app/media/Latika.mp3' )}}" type="audio/mpeg"/>
              </audio>
              <!--<span class="glyphicon glyphicon-play-circle" data-toggle="tooltip" title="Play music" id="playmusic"></span>-->
              <!--<span class="glyphicon glyphicon-pause" data-toggle="tooltip" title="Stop music" id="stopmusic"></span>-->
        </div>
      </div><!--container-fluid-->
    </section> <!--section intro-->
    <section id="video">
      <div class="container-fluid">
        <!--<div class="row">-->
            <div class="container-section-video">
              <img src="{{ url_for('static', filename='bower_components/app/img/turtle.jpg' )}}"/>
              <div class="video-container">
                    <video id="media-video">
                      <source src="{{ url_for('static',filename='bower_components/app/media/FoodInc.mp4' )}}" type="video/MP4"/>
                    </video>
              </div>
              <!--<div class="video-player">
                <span class="glyphicon glyphicon-play-circle" data-toggle="tooltip" title="Play video" id="playvideo"></span>
                <span class="glyphicon glyphicon-remove" data-toggle="tooltip" title="Close video" id="closevideo"></span>
              </div>-->
               <div class="video-player" class="modal fade" role="dialog">
                 <div class="modal-dialog row">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="row">
                          <h3 class="modal-title">Play video
                            <button type="button" class="close" data-dismiss="modal">X</button>
                          </h3>
                      </div>
                    </div>
                    <span class="glyphicon glyphicon-play-circle" data-toggle="tooltip" title="Play video" id="playvideo"></span>
                    <span class="glyphicon glyphicon-remove" data-toggle="tooltip" title="Close video" id="closevideo"></span>
                    <span class="help-block">Click here in case is not displayed</span>
                  </div>
                </div>
              </div>
            </div>
          <!--</div>-->
        </div><!--container fluid-->
    </section>
     <section id="services">
        <div class="container-fluid">
          <div class="container-section-services bg-faded">
            <div class="row">
              <div class="col-md-4">
                <div class="square">
                  <div class="box text-center">
                    <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-cutlery fa-stack-1x fa-inverse" id="jana"><a href="https://advancedeating.co.uk/"></a></i>
                    </span>
                    <h4 class="service-heading text-center">Health</h4>
                    <p class="text-muted">It is a way of eating that emphasizes the foods humans have evolved to eat for hundreds of thousands of years, before the agricultural and industrial revolutions.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="square">
                  <div class="flip">
                    <div class="card">
                      <div class="face front">
                        <div class="inner">
                          <img src="{{ url_for('static',filename='bower_components/app/img/colorsindia.jpg' )}}"/>
                        </div>
                      </div>
                      <div class="face back">
                        <div class="inner text-center">
                          <h3>Discover Food Inc</h3>
                          <button type="button" class="btn btn-default play" data-toggle="modal" data-target="video-player">Know More</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="square">
                    <div class="box text-center">
                      <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-balance-scale fa-stack-1x fa-inverse"></i>
                      </span>
                      <h4 class="service-heading text-center">Leisure & Pleasure</h4>
                      <p class="text-muted">As nouns the difference between leisure and pleasure is that leisure is freedom provided by the cessation of activities while pleasure is (uncountable) a state of being pleased.</p>
                      </div>
                    </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                  <div class="square">
                    <div class="flip">
                      <div class="card">
                        <div class="face front">
                          <div class="inner">
                            <img src="{{ url_for('static', filename='bower_components/app/img/indiadesert.jpg' )}}"/>
                          </div>
                        </div>
                        <div class="face back">
                          <div class="inner text-center">
                            <h3>Discover Food Inc</h3>
                            <button type="button" class="btn btn-default play" data-toggle="modal" data-target="video-player">Know More</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="square">
                    <div class="box text-center">
                     <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                      </span>
                      <h4 class="service-heading text-center">Adverts</h4>
                      <p class="text-muted"> Use this site as an inexpensive way to advertize your small eco-business.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="square">
                    <div class="flip">
                      <div class="card">
                        <div class="face front">
                          <div class="inner">
                            <img src="{{ url_for('static', filename='bower_components/app/img/vietnam.jpg' )}}"/>
                          </div>
                        </div>
                        <div class="face back">
                          <div class="inner text-center">
                            <h3>Discover Food Inc</h3>
                            <button type="button" class="btn btn-default play" data-toggle="modal" data-target="video-player">Know More</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div> <!--row-->
          </div>
        </div>
      </section>
    <section id="team">
      <div class="container-fluid">
        <div class="container-section-team">
          <img src="{{ url_for('static', filename='bower_components/app/img/tribu.jpg' )}}" >
        </div>
      </div>
    </section>
    <section id="contact">
       <!--<div class="text-center">
        <span>
          <a href="cover.html">
           <i class="fa fa-angle-double-up text-center" aria-hidden="true"></i>
          </a>
        </span>
        </div>-->
        <div class="container-fluid">
          <div class="container-section-contact bg-faded">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Me</h2>
                <h3 class="section-subheading text-muted">Please, send a message if you have any question.</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <form id="contactForm" name="sentMessage" novalidate>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input class="form-control" id="name" type="text" placeholder="Your Name *" required placeholder="Please enter your name.">
                        <p class="help-block text-danger"></p>
                      </div>
                      <div class="form-group">
                        <input class="form-control" id="email" type="email" placeholder="Your Email *" required placeholder="Please enter your email address." data-match="#inputPassword" data-match-error="Whoops, these don't match">
                        <p class="help-block text-danger"></p>
                      </div>
                      <div class="form-group">
                        <input class="form-control" id="phone" type="tel" placeholder="Your Phone *"  required placeholder="Please enter your phone number.">
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <textarea class="form-control" id="message" placeholder="Your Message *" placeholder="Please enter a message."></textarea>
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 text-center">
                      <div id="success"></div>
                      <button id="sendMessageButton" class="btn btn-default" type="submit">Send Message</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div> <!--container-fluid-->
        </div>
     </section>
     <section id="info">
        <div class="container-fluid">
          <div class="container-section-info bg-faded">
            <div class="row">
                <div class="col-lg-3 text-center">
                   <div class="section-title">
                        <li>Partners</li>
                   </div>
                   <div class="section-list">
                      <ul>
                        <li class="section-item"><a href="">Partner1</a></li>
                        <li class="section-item"><a href="">Partner2</a></li>
                        <li class="section-item"><a href="">Partner3</a></li>
                        <li class="section-item"><a href="">Partner4</a></li>
                      </ul>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                   <div class="section-title">
                      <li>Help</li>
                   </div>
                   <div class="section-list">
                    <ul>
                      <li class="section-item"><a href="">Faqs</a></li>
                      <li class="section-item"><a href="">Terms</a></li>
                      <li class="section-item"><a href="">Privacy</a></li>
                      <li class="section-item"><a href="">Contact us</a></li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                   <div class="section-title">
                      <li>Social</li>
                   </div>
                   <div class="section-list">
                    <ul>
                      <li class="section-item"><a href="">Facebook</a></li>
                      <li class="section-item"><a href="">Twitter</a></li>
                      <li class="section-item"><a href="">Tumblr</a></li>
                      <li class="section-item"><a href="">Youtube</a></li>
                    </ul>
                   </div>
                </div>
                <div class="col-lg-3 text-center">
                   <div class="section-title">
                      <li>Events</li>
                   </div>
                   <div class="section-list">
                    <ul>
                      <li class="section-item"><a href="http://www.vegfest.co.uk/">VegfestUk</a></li>
                      <li class="section-item"><a href="http://www.sustainableeventssummit.com/">SustainableEventsSummit</a></li>
                      <li class="section-item"><a href="http://www.eco-see.eu/news-events.html">Eco-See</a></li>
                      <li class="section-item"><a href="https://www.eventbrite.co.uk/d/united-kingdom--london/sustainability-events/">Eventbrite</a></li>
                    </ul>
                    </div>
                </div>
            </div>
          </div>
        </div>  <!--container fluid-->
     </section>
   <footer>
    <div class="container-fluid" align="center">
        <p>Copyright &copy; Okra 2017</p>
    </div>
   </footer>
    <div class="container bg-faded" id="policy">
      <div class="jumbotron">
          <div class="container">
              <h2>Cookie directive</h2>
              <p>Within EU we need to inform the visitor that the site is using cookies. See<code>Privacy policy</code> and <code> Cookie policy </code> if you want to now more about it.<span class="btn btn-primary btn-xs removecookie">Remove cookie</span></p>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <h2>TEST</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod neque eaque fuga culpa doloribus adipisci vel explicabo! Nihil ipsa commodi quae voluptates laudantium fugit nam. Itaque veniam iure aliquid harum!</div>
              <div class="col-md-4">
                  <h2>TEST 2</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod neque eaque fuga culpa doloribus adipisci vel explicabo! Nihil ipsa commodi quae voluptates laudantium fugit nam. Itaque veniam iure aliquid harum!</div>
              <div class="col-md-4">
                  <h2>TEST 3</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod neque eaque fuga culpa doloribus adipisci vel explicabo! Nihil ipsa commodi quae voluptates laudantium fugit nam. Itaque veniam iure aliquid harum!</div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <h2>Cookie Policy of Okra.com</h2>
                  <p>Cookies consist of portions of code installed in the browser that assist the Owner in providing the Service according to the purposes described. Some of the purposes for which Cookies are installed may also require the User's consent.</p>
                  <p>
                  Where the installation of Cookies is based on consent, such consent can be freely withdrawn at any time following the instructions provided in this document.</p></div>
          </div>
          <div class="row">
            <div class="col-md-12">
               <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title text-left">
                      <a role="button btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                      Activity strictly necessary for the functioning of the Service
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"  href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <div class="panel-body">
                          <p>This Website uses Cookies to save the User's session and to carry out other activities that are strictly necessary for the operation of this Website, for example in relation to the distribution of traffic.</p>
                        </div>
                  </div>
                </div>
          </div>
          </br>
          <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title text-left">
                      <a role="button btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" >
                      Activity regarding the saving of preferences, optimization, and statistics
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"  href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <div class="panel-body">
                          <p>This Website uses Cookies to save browsing preferences and to optimize the User's browsing experience. Among these Cookies are, for example, those used for the setting of language and currency preferences or for the management of first party statistics employed directly by the Owner of the site.</p>
                        </div>
                  </div>
                </div>
              </div>
          </div>
        </br>
          <div class="row">
              <div class="col-md-12">
                  <h3>Other types of Cookies or third parties that install Cookies</h3>
                  <br />
                  <p>Some of the services listed below collect statistics in an anonymized and aggregated form and may not require the consent of the User or may be managed directly by the Owner - depending on how they are described - without the help of third parties.</p>
                  </br>
                  <p>If any third party operated services are listed among the tools below, these may be used to track Users’ browsing habits – in addition to the information specified herein and without the Owner’s knowledge. Please refer to the privacy policy of the listed services for detailed information..</p>
              </div>
          </div>
          </br>
          <div class="row">
              <div class="col-md-12">
                  <h3>How to provide or withdraw consent to the installation of Cookies</h3>
                  <p>In addition to what is specified in this document, the User can manage preferences for Cookies directly from within their own browser and prevent – for example – third parties from installing Cookies.
                  Through browser preferences, it is also possible to delete Cookies installed in the past, including the Cookies that may have saved the initial consent for the installation of Cookies by this website.
                  Users can, for example, find information about how to manage Cookies in the most commonly used browsers at the following addresses: Google Chrome, Mozilla Firefox, Apple Safari and Microsoft Internet Explorer.</p>
                  </br>
                  <p>With regard to Cookies installed by third parties, Users can manage their preferences and withdrawal of their consent by clicking the related opt-out link (if provided), by using the means provided in the third party's privacy policy, or by contacting the third party.</p>
                  </br>
                  <p>Notwithstanding the above, the Owner informs that Users may follow the instructions provided on the subsequently linked initiatives by the EDAA (EU), the Network Advertising Initiative (US) and the Digital Advertising Alliance (US), DAAC (Canada), DDAI (Japan) or other similar services. Such initiatives allow Users to select their tracking preferences for most of the advertising tools. The Owner thus recommends that Users make use of these resources in addition to the information provided in this document.</p>
                  </br>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <h3>Owner and data controller</h3>
                  Ohra - Marketing e Publicidade Lda</br>
                  M45EH Greater Manchester</br>
                  United Kingdom</br>
                  <br />
                  <b>Owner contact email:</b> info@Okra.com
                  <br /><p>Since the installation of third-party Cookies and other tracking systems through the services used within this Website cannot be technically controlled by the Owner, any specific references to Cookies and tracking systems installed by third parties are to be considered indicative. In order to obtain complete information, the User is kindly requested to consult the privacy policy for the respective third-party services listed in this document.</p>
                  </br>
                  <p>Given the objective complexity surrounding the identification of technologies based on Cookies, Users are encouraged to contact the Owner should they wish to receive any further information on the use of Cookies by this Website.</p>
              </div>
          </div>
          </br>
          <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title text-left">
                      <a role="button btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" >
                      Definitions and legal references
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree"  href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <div class="panel-body">
                    <p><b>Personal Data (or Data)</b>
                    Any information that directly, indirectly, or in connection with other information — including a personal identification number — allows for the identification or identifiability of a natural person.</p>
                    </br>
                    <p><b>Usage Data</b>
                    Information collected automatically through this Website (or third-party services employed in this Website), which can include: the IP addresses or domain names of the computers utilized by the Users who use this Website, the URI addresses (Uniform Resource Identifier), the time of the request, the method utilized to submit the request to the server, the size of the file received in response, the numerical code indicating the status of the server's answer (successful outcome, error, etc.), the country of origin, the features of the browser and the operating system utilized by the User, the various time details per visit (e.g., the time spent on each page within the Application) and the details about the path followed within the Application with special reference to the sequence of pages visited, and other parameters about the device operating system and/or the User's IT environment.</p>
                    </br>
                    <p><b>User</b>
                    The individual using this Website who, unless otherwise specified, coincides with the Data Subject.</p>
                    </br>
                    <p><b>Data Subject</b>
                    The natural person to whom the Personal Data refers.</p>
                    </br>
                    <p><b>Data Processor (or Data Supervisor)</b>
                    The natural or legal person, public authority, agency or other body which processes Personal Data on behalf of the Controller, as described in this privacy policy.</p>
                    </br>
                    <p><b>Data Controller (or Owner)</b>
                    The natural or legal person, public authority, agency or other body which, alone or jointly with others, determines the purposes and means of the processing of Personal Data, including the security measures concerning the operation and use of this Website. The Data Controller, unless otherwise specified, is the Owner of this Website.</p>
                    </br>
                    <p><b>This Website (or this Application)</b>
                    The means by which the Personal Data of the User is collected and processed.</p>
                    </br>
                    <p><b>Service</b>
                    The service provided by this Website as described in the relative terms (if available) and on this site/application.</p>
                    </br>
                    <p><b>European Union (or EU)</b>
                    Unless otherwise specified, all references made within this document to the European Union include all current member states to the European Union and the European Economic Area.</p>
                    </br>
                    <p><b>Cookies</b>
                    Small sets of data stored in the User's device.</p>
                    </p>
                    <p>
                      <h3>Legal information</h3>
                      <p>This privacy statement has been prepared based on provisions of multiple legislations, including Art. 13/14 of Regulation (EU) 2016/679 (General Data Protection Regulation).</p>
                      </br>
                      <p>This privacy policy relates solely to this Website, if not stated otherwise within this document.</p>
                    </p>
                  </div>
                  </div>
                </div>
            </div>
            </br>
          </div>
      </div>
    </div>
    <div class="cookiewarning bg-warning">
        <h3>We are using cookies</h3>
        <p>Okra uses cookies for its advertisement solutions and for analytics. We hope you're ok with this, but you can opt-out if you wish. Read our <a href="#policy"><u>Privacy Policy</u></a> and <a href="#policy"><u>Cookie Policy<u></a></p>
        <span class="btn btn-warning btn-xl">Accept</span>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bower_components/bootstrap/dist/js/bootstrap.min.js' )}}"></script>
    <script src="{{ url_for('static',filename='bower_components/app/js/environment.js' )}}"></script>
    <script src="{{ url_for('static',filename='bower_components/app/js/custom.js' )}}"></script>
  </body>
</html>
