{% extends "base.html" %}
{% block content %}
<section id="mainSection">
  <div class="container">
  <article>
    <div class="row">
      <div class="col-xs-8 bg-faded" id="sect1">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title text-center">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Why industries are selling nocive products?
              </a>
            </h4>
          </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"  href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <div class="panel-body">
             Either for money or there isn't any other economic alternative to produce the necessary amount of food to supply the humanity. In my opinion, there is always another alternative, in fact, twenty million people are on the brick of starvation according UN world food program. I believe we need to end with the hyprocrisy in this world.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title text-center">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What is the EIA?
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              Enviromental Impact Assesment(UK), Energy Information Administration(US).
              Is an organization that provides information and reports about energy production, stocks, demands, imports and exports.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title text-center">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What are the endocrine disruptors?
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              Endocrine disruptors are chemicals that can interfere with endocrine (or hormone) systems at certain doses. These disruptions can cause cancerous tumors, birth defects, and other developmental disorders. Any system in the body controlled by hormones can be derailed by hormone disruptors.What are some examples of endocrine disruptors?
              A wide and varied range of substances are thought to cause endocrine disruption.
              Chemicals that are known endocrine disruptors include diethylstilbestrol (the synthetic estrogen DES), dioxin and dioxin-like compounds, polychlorinated biphenyls (PCBs), DDT, and some other pesticides.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title text-center">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                What is the glyphosate and how is getting into our bread?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              "Glyphosate is the active ingredient in many weedkillers, including Monsanto's Roundup - used in farming, public places like parks, streets and schools and also by people in their gardens. It is the world’s most widely sold weedkiller.
              Glyphosate is one of three pesticides regularly found in routine testing of British bread, appearing in over 60% of wholemeal bread samples tested by the Defra committee on Pesticide Residues in Food.
              Many farmers routinely use Roundup and other herbicides to clear their fields of weeds before crops emerge in the spring. But what's more alarming is they’re also using glyphosate on crops shortly before they are harvested, in order to desiccate (dry out) the plants and make them easier to harvest.
              Glyphosate kills parts of the crop that haven’t ripened evenly, and dries the crop. This allows Combine harvesters to move more quickly and cover more ground during harvest, and may reduce drying costs. But applying glyphosate so close to harvest makes the likelihood of finding residues in food even higher."
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title text-center">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                How are we exposed to hormonal pollutants?
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
             The EDC are present in many products we consume daily: water, food, toys, cosmetics, textile fibers...
             Therefore, we are exposed:
             . By digestive tract, through food and water with pesticide residues.
             . By respiratory route, by inhalation of indoor air from homes and contaminants present in the external environment. Also during the performance of works that demand product handling with EDC.
             . By cutaneous route, for the use of cosmetics, hygiene products, clothing or their substances used in the work that contain endocrine disruptors.
             . Intravenously, during sanitary practices that involve the use of plastics.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title text-center">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                How can we remove all this nocive products without a huge impact in the world economy?
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
               Reducing conglomerates, relying more in small business using natural practices.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title text-center">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Why do we have a mission?
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
               Because of the children and to live a happier life.
            </div>
          </div>
        </div>
      </div>
       <div class="form-group">
      <label for="faq" id="faq">Write your question below</label>
      <textarea class="form-control" rows="5"></textarea>
      </div>
      <div class="submitfaq">
      <button type="submit" class="btn btn-default">Send question</button>
      </div>
      </div>
      <div class="col-xs-4 bg-faded" id="sect2">
       <div id="test">
        <div clas="panel panel-default">
           <div class="panel-heading">
              <hr class="divider">
                <h2 class="text-center">Links of interest</h2>
              <hr class="divider">
          </div>
          <table class="table table-fixed">
            <tbody>
            <tr>
              <td>
                <h4>Transparency International.</h4>
                <a href="https://www.transparency.org/whatwedo/publication/lobbying_in_europe">Click here to read more about it.</a>
              </td>
            </tr>
            <tr>
              <td>
                <h4>Organisation for Economic Co-operation and Development.</h4>
                <a href="http://www.oecd.org/">Click here to read more about it.</a>
              </td>
            </tr>
            <tr>
              <td>
                <h4>European Food Safety Authority.</h4>
                <a href="http://www.efsa.europa.eu/en/topics/topic/chemicals-food">Click here to read more about it.</a>
              </td>
            </tr>
             <tr>
              <td>
              <h4>Energy Information Administration</h4>
               <a href="https://www.eia.gov/">Click here to read more about it.</a>
              </td>
            </tr>
             <tr>
              <td>
                <h4>EuropaBio</h4>
                <a href="https://www.europabio.org/">Click here to read more about it.</a>
              </td>
            </tr>
            <tr>
              <td>
                <h4>United Nations</h4>
                <a href="http://www.un.org/en/index.html">Click here to read more about it.</a>
              </td>
            </tr>
            <tr>
              <td>
                <h4>World food program.</h4>
                <a href="http://www1.wfp.org/index.php/">Click here to read more about it.</a>
              </td>
            </tr>
             <tr>
              <td>
                <h4>Enviromental protection agency.</h4>
                <a href="https://www.epa.gov/">Click here to read more about it.</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </div>
  </article>
  <article>
  <div class="bg-faded p-4 my-4">
    <hr>
    <div class="box1">
        <ul class="nav-pills text-expanded" id="brandIcons">
            <li class="">
               <i style="font-size:36px" class="fa">&#xf173;</i>
            </li>
             <li class="">
                <i class="fa fa-twitter" style="font-size:36px"></i>
            </li>
            <li class="">
                <i class="fa fa-facebook" style="font-size:36px"></i>
            </li>
             <li class="">
                <i class="fa fa-youtube" style="font-size:36px"></i>
            </li>
            <li class="">
                <i class="fa fa-rss" style="font-size:36px"></i>
            </li>
        </ul>
      </div>
  </div>
  </article>
  </div> <!-- /.container -->
</section>
{% endblock %}
