<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <base href="bGreen">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BGreen default</title>

    <!-- Bootstrap core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">


    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Pacifico" rel="stylesheet">

    <!-- Custom styles for this template -->
     <link rel="stylesheet" type="text/css" href="../bower_components/app/css/custom.css">

  </head>
  <body>

   <header>
      <nav class="navbar navbar-default navbar-expand-lg navbar-light py-lg-4">

      <div class="row">

          <div class="col-lg-6 tagline-upper text-left text-expanded text-heading text-shadow mt-5 d-none d-lg-block">
              <a class="navbar-brand text-expanded font-weight-bold" href="cover.html">BGreen</a>
          </div>

        <div class="col-lg-6 mt-5">
            <ul class="nav nav-pills pull-right">
                <li class="">
                    <span class="glyphicon glyphicon-search" data-toggle="tooltip" title="Search business" id="search"></span>
                </li>
                <li class="">
                    <span class="glyphicon glyphicon-log-in" data-toggle="tooltip" title="Log in" id="login"></span>
                </li>
                <li class="">
                  <a href="usersignup.html" class="list-group-item" data-toggle="tooltip" title="Sign up">
                    <span class="glyphicon glyphicon-user"></span>
                  </a>
                </li>
                <li class="">
                  <a href="registerbusiness.html" class="list-group-item" data-toggle="tooltip" title="Register business">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                  </a>
                </li>
            </ul>
          </div>

      </div>

      </nav>

      <!-- Menu Navigation -->
      <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarResponsive">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav col-lg-12">
                <li class="nav-item active col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="home.html">Home
                  <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="aboutus.html">About us</a>
                </li>
                <li class="nav-item col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="mission.html">Get mission</a>
                </li>
                <li class="nav-item col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="projects.html">Projects</a>
                </li>
                 <li class="nav-item col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="faqs.html">Faq's</a>
                </li>
                 <li class="nav-item col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="news.html">Outspace news</a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
    </header>

    <section id="mySection">
    <div class="container">
    <article>
      <div class="bg-faded p-4 my-4">
        <hr>
        <hr>
        <!-- Image Carousel -->
        <div class="box">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIndicators" data-slide-to="1"></li>
            <li data-target="#carouselIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="d-block img-fluid w-100 text-center" src="../bower_components/app/img/slide-1.jpg" alt="0">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="text-shadow">First Slide</h3>
                <p class="text-shadow">This is the caption for the first slide.</p>
              </div>
            </div>
            <div class="item">
              <img class="d-block img-fluid w-100" src="../bower_components/app/img/slide-2.jpg" alt="1">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="text-shadow">Second Slide</h3>
                <p class="text-shadow">This is the caption for the second slide.</p>
              </div>
            </div>
            <div class="item">
              <img class="d-block img-fluid w-100" src="../bower_components/app/img/slide-3.jpg" alt="2">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="text-shadow">Third Slide</h3>
                <p class="text-shadow">This is the caption for the third slide.</p>
              </div>
            </div>
          </div>
          <a class="left carousel-control " href="#carouselIndicators" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carouselIndicators" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        </div>
        <hr>
        <!-- Welcome Message -->
        <div class="text-center mt-4">
          <div class="text-heading text-muted text-lg">Welcome To</div>
          <h1 class="my-2">BGreen</h1>
          <div class="text-heading text-muted text-lg">By
            <strong>Start BGreen</strong>
          </div>
        </div>
        <hr>
      </div>
      </article>

      <article>
      <div class="bg-faded p-4 my-4">
        <hr>
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">Build a website
          <strong>worth visitng</strong>
        </h2>
        <hr class="divider">
        <div class="box">
          <div class="col-lg-12">
            <div class="pull left col-lg-4"><img src="../bower_components/app/img/intro-pic.jpg" alt=""></div>
            <div class="pull right col-lg-8"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta dolore voluptatem, deleniti dignissimos excepturi veritatis cum hic sunt perferendis ipsum perspiciatis nam officiis sequi atque enim ut! Velit, consectetur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam pariatur perspiciatis reprehenderit illo et vitae iste provident debitis quos corporis saepe deserunt ad, officia, minima natus molestias assumenda nisi velit?</p></div>
          </div>
          <hr>
        </div>
      </div>
      </article>

      <article>
      <div class="bg-faded p-4 my-4">
        <hr>
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">Beautiful boxes to
          <strong>showcase your content</strong>
        </h2>
        <hr class="divider">
        <div class="box">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta dolore voluptatem, deleniti dignissimos excepturi veritatis cum hic sunt perferendis ipsum perspiciatis nam officiis sequi atque enim ut! Velit, consectetur.</p>
        </div>
      </div>
      </article>

    </div>
    <!-- /.container -->

    </section>

        <!--Show panel with javascript on click -->
      <div class="bs-panel container" id="loginpnl">
        <div class="panel panel-info">
          <div class="panel-body">
            <h2>Log in here</h2>
            <form>
              <div class="bg-faded p-4 my-4">
                <div class="boxpanel">
                  <div class="form-group row text-right">
                    <label for="userid" class="col-lg-4 col-form-label">Username</label>
                    <div class="col-lg-6">
                      <input type="text" class="form-control" id="userid" placeholder="Enter your business id here" autofocus="">
                    </div>
                  </div>
                   <div class="form-group row text-right">
                      <label for="pwd" class="col-lg-4 col-form-label">Password</label>
                      <div class="col-lg-6">
                           <input type="text" class="form-control" id="userid" placeholder="Enter your business id here" autofocus="">
                      </div>
                   </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" required="">
                      Remember me
                    </label>
                  </div>
                  <div class="text-center">
                     <a class="nav-link text-lowercase text-capitalize text-expanded" href="home.html">Forgot your login?
                    </a>
                     <a class="nav-link text-lowercase text-capitalize text-expanded" href="home.html">Forgot your password?
                    </a>
                  </div>
                   <div class="text-center">
                      <button type="button" class="btn" id="selectbtn">Log in</button>
                      <button type="button" class="btn" id= "closebtn" data-dismiss="modal">Close</button>
                  </div>
                </div>
               </div>
            </form>
          </div>
       </div>
    </div>

    <div class="bs-panel container" id="searchpnl">
      <div class="panel panel-info">
          <div class="panel-body">
            <h2>Make your search choice</h2>
            <form>
              <div class="bg-faded p-4 my-4">
                <div class="boxpanel">
                  <div class="form-group row text-right">
                    <label for="userid" class="col-lg-4 col-form-label">Search by business identifier</label>
                    <div class="col-lg-6">
                      <input type="text" class="form-control" id="userid" placeholder="Enter your business id here" autofocus="">
                    </div>
                  </div>
                   <div class="form-group row text-right">
                      <label for="pwd" class="col-lg-4 col-form-label">Search by category</label>
                      <div class="col-lg-6">
                           <select id="category" class="col-lg-12" placeholder="default"></select>
                      </div>
                   </div>
                    <div class="form-group row text-right">
                      <label for="telnum" class="col-lg-4 col-form-label">Search by location</label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" id="userid" placeholder="Enter your location here" autofocus="">
                      </div>
                    </div>
                      <div class="form-group row text-right">
                      <label for="telnum" class="col-lg-4 col-form-label">Search by business name</label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" id="userid" placeholder="Enter the business name here" autofocus="">
                      </div>
                    </div>
                     <div class="text-center">
                        <button type="button" class="btn" id="selectbtn">Save changes</button>
                        <button type="button" class="btn" id= "closebtn" data-dismiss="modal">Close</button>
                    </div>
                  </div>
               </div>
            </form>
          </div>
       </div>
    </div>



    <footer class="text-center py-5">
      <div class="container">
        <p class="m-0">Copyright &copy; BGreen 2017</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/app/js/custom.js"></script>

  </body>

</html>

