<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <base href="bGreen">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BGreen default</title>

    <!-- Bootstrap core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">


    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Pacifico" rel="stylesheet">

    <!-- Custom styles for this template -->
     <link rel="stylesheet" type="text/css" href="../bower_components/app/css/custom.css">

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>

   <header>
      <nav class="navbar navbar-default navbar-expand-lg navbar-light py-lg-4">

      <div class="row">

          <div class="col-lg-6 tagline-upper text-left text-expanded text-heading text-shadow mt-5 d-none d-lg-block">
              <a class="navbar-brand text-expanded font-weight-bold" href="cover.html">Okra</a>
          </div>

        <div class="col-lg-6 mt-5">
            <ul class="nav nav-pills pull-right">
                <li class="">
                    <span class="glyphicon glyphicon-search" data-toggle="tooltip" title="Search business" id="search"></span>
                </li>
                <li class="">
                    <span class="glyphicon glyphicon-log-in" data-toggle="tooltip" title="Log in" id="login"></span>
                </li>
                <li class="">
                    <span class="glyphicon glyphicon-user" data-toggle="tooltip" title="Sign up" id="signup"></span>
                </li>
                <li class="">
                    <span class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" title="Register business" id="register"></span>
                </li>
            </ul>
          </div>

      </div>

      </nav>

      <!-- Menu Navigation -->
      <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarResponsive">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav col-lg-12">
                <li class="nav-item active col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="home.html">Home
                  <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="aboutus.html">About me</a>
                </li>
                <li class="nav-item col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="mission.html">Get mission</a>
                </li>
                <li class="nav-item col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="projects.html">Projects</a>
                </li>
                 <li class="nav-item col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="faqs.html">Faq's</a>
                </li>
                 <li class="nav-item col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="news.html">Outspace news</a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
    </header>

    <section id="mySection">
    <div class="container">
    <article>
      <div class="bg-faded p-4 my-4">
        <hr>
        <hr>
        <!-- Image Carousel -->
        <div class="box">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIndicators" data-slide-to="1"></li>
            <li data-target="#carouselIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="d-block img-fluid w-100 text-center" src="../bower_components/app/img/earth.jpg" alt="0" id="earth">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="text-shadow">The Earth in our hands.</h3>
                <p class="text-shadow">"The Earth has music for those who listen."</br>
                 William Shakespeare.</p>
              </div>
            </div>
            <div class="item">
              <img class="d-block img-fluid w-100" src="../bower_components/app/img/life.jpg" alt="1" id="earth">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="text-shadow">The life is kind of our choice.</h3>
                <p class="text-shadow">"Genes are like the story, and DNA is the language that the story is written in".</br>
                Sam Kean.
                </p>
              </div>
            </div>
            <div class="item">
              <img class="d-block img-fluid w-100" src="../bower_components/app/img/darwin.jpg" alt="2" id="earth">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="text-shadow" style="color:black">The evolution is our responsability.</h3>
                <p class="text-shadow" style="color:black">"It is not the strongest of the species that survives, nor the most intelligent that survives. It is the one that is most adaptable to change."</br>
                Charles Darwin.
                </p>
              </div>
            </div>
          </div>
          <a class="left carousel-control " href="#carouselIndicators" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carouselIndicators" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        </div>
        <hr>
        <!-- Welcome Message -->
        <div class="text-center mt-4">
          <hr class="divider">
          <div class="text-heading text-muted text-lg">Welcome To</div>
          <h1 class="my-2">Okra</h1>
          <div class="text-heading text-muted text-lg">By
            <strong>Maria De A. H.</strong>
          </div>
          <hr class="divider">
        </div>
        <hr>
      </div>
      </article>

      <article>
      <div class="bg-faded p-4 my-4">
        <hr>
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0"> Everything
          <strong>is connected</strong>
        </h2>
        <hr class="divider">
        <div class="box">
          <div class="col-lg-12">
            <div class="pull left col-lg-4"><img src="../bower_components/app/img/shell.jpg" alt=""></div>
            <div class="pull right col-lg-8"><p>"The spiral in a snail's shell is the same mathematically as the spiral in the Milky Way Galaxy,
            and is also the same matematically as the spirals in our DNA. Is the same ratio that you will find in very basic music that transcends cultures all over the world."</br>
            Joseph Gordon-Levitt.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam pariatur perspiciatis reprehenderit illo et vitae iste provident debitis quos corporis saepe deserunt ad, officia, minima natus molestias assumenda nisi velit?</p></div>
          </div>
          <hr>
        </div>
      </div>
      </article>

      <article>
      <div class="bg-faded p-4 my-4">
        <hr>
        <div class="box1">
            <ul class="nav nav-pills text-expanded" id="brandIcons">
                <li class="">
                   <i style="font-size:36px" class="fa">&#xf173;</i>
                </li>
                 <li class="">
                    <i class="fa fa-twitter" style="font-size:36px"></i>
                </li>
                <li class="">
                    <i class="fa fa-facebook" style="font-size:36px"></i>
                </li>
                 <li class="">
                    <i class="fa fa-youtube" style="font-size:36px"></i>
                </li>
                <li class="">
                    <i class="fa fa-rss" style="font-size:36px"></i>
                </li>
            </ul>
          </div>
      </div>
      </article>

    </div>
    <!-- /.container -->

    </section>


    <div class="bs-panel container" id="registerpnl">
    <div class="panel panel-info">
    <div class="panel-body">
      <form>
        <div class="bg-faded p-4 my-4">
          <hr class="divider">
          <h2 class="text-center text-lg text-uppercase my-0">Go eco!
            <strong>Register your business here</strong>
          </h2>
          <hr class="divider">
          <div class="box">
            <div class="form-group row text-left">
              <label for="userid" class="col-lg-2 col-form-label">*Username:</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="userid" placeholder="Enter your username here" autofocus="" required="">
              </div>
            </div>
             <div class="form-group row text-left">
              <label for="pwd" class="col-lg-2 col-form-label">*Password:</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="pwd" placeholder="Enter your password here" required="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
              </div>
             </div>
             <div class="form-group row text-left">
                <label for="linkto" class="col-lg-2 col-form-label">*Site url:</label>
                <div class="col-lg-10">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">https://bGreen.com/</span>
                    <input type="url" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Enter your business site url here">
                  </div>
                </div>
              </div>
              <div class="form-group row text-left">
                <label for="address" class="col-lg-2 col-form-label">*Address:</label>
                <div class="col-lg-10">
                  <input type="address" class="form-control" id="address" placeholder="Enter your business location here" required="">
                    <input type="button" id="submit" value="Go map location" on_click=geocodeAddress()>
                    <div id="map" class="img-fluid">
                      My map will go here
                    </div>
                </div>
              </div>
              <div class="form-group row text-left">
                <label for="telnum" class="col-lg-2 col-form-label">*Telephone number:</label>
                <div class="col-lg-10">
                    <select id="countries_phone1" class="col-lg-2 bfh-countries" data-country="US"></select>
                    <input type="text" class="col-lg-4 bfh-phone" data-country="countries_phone1">
                </div>
              </div>
              <div class="form-group row text-left">
                <label for="comment" class="col-lg-2 col-form-label">Insert comment:</label>
                <div class="col-lg-10">
                  <textarea class="form-control" rows="5" id="comment" placeholder="Enter comment about your business here"></textarea>
                </div>
              </div>
              <div class="form-group row text-left">
                <label for="amount" class="col-lg-2 col-form-label inline">Donation ammount:</label>
                <fieldset class="col-lg-10">
                <div class="form-group row">
                    <div class="form-check col-lg-4">
                      <label class="form-check-label radio-inline">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option2">15 GBP
                      </label>
                    </div>
                    <div class="form-check col-lg-4">
                      <label class="form-check-label radio-inline">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">35 GBP
                      </label>
                    </div>
                    <div class="form-check col-lg-4 disabled">
                        <label class="form-check-label radio-inline">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                          Option three is disabled
                        </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            <div class="form-group row text-left">
                <label for="paymentmeth" class="col-lg-2 col-form-label">Payment method:</label>
                <div class="col-lg-10">
                <ul class="list-group row">
                    <ol class="list-group-item col-lg-3">
                       <label class="form-check-label radio-inline">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
                          <span class="glyphicon glyphicon-credit-card"></span>
                          Visa
                        </label>
                    </ol>
                    <ol class="list-group-item col-lg-3">
                      <label class="form-check-label radio-inline">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
                        <span class="glyphicon glyphicon-xs glyphicon-credit-card"></span>
                        Mastercard
                      </label>
                    </ol>
                    <ol class="list-group-item col-lg-3">
                      <label class="form-check-label radio-inline">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
                        <span class="glyphicon glyphicon-credit-card"></span>
                        AmericanExpress
                      </label>
                    </ol>
                    <ol class="list-group-item col-lg-3">
                      <label class="form-check-label radio-inline">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
                        <span class="glyphicon glyphicon-credit-card"></span>
                        Paypal
                      </label>
                    </ol>
                </ul>
              </div>
            </div>
             <div class="form-group row text-left">
              <label for="accholder" class="col-lg-2 col-form-label">*Account holder:</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="accholder" required="" placeholder="Enter name on credit card">
              </div>
            </div>
             <div class="form-group row text-left" form-inline>
              <label for="accnum" class="col-lg-2 col-form-label">*Account Number:</label>
              <div class="col-lg-2">
                <input type="number" class="form-control" id="accnumber1">
              </div>
              <div class="col-lg-2">
                <input type="number" class="form-control" id="accnumber2">
              </div>
              <div class="col-lg-2">
                <input type="number" class="form-control" id="accnumber3">
              </div>
              <div class="col-lg-2">
                <input type="number" class="form-control" id="accnumber4">
              </div>
            </div>
             <div class="form-group row text-left">
              <label for="expdate" class="col-lg-2 col-form-label">*Expiration date:</label>
              <div class="col-lg-10">
                <input type="date" class="form-control" id="expdate" required="">
              </div>
             </div>
            <div class="form-group row">
              <div class="form-check col-lg-5">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" required="">
                    I accept terms and condtions
                </label>
              </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-default btn-lg">Register your business</button>
                </div>
            </div>
             <div class="form-group row text-left">
                  <span class="help-block">*Field required</span>
            </div>
            </div> <!--box-->
          </div> <!--faded-->
        </form>
    </div>
    </div>
    </div>


    <div class="bs-panel container" id="signuppnl">
    <div class="panel panel-info">
    <div class="panel-body">
      <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">Go eco!
          <strong>Sign up here</strong>
        </h2>
        <hr class="divider">
        <form>
        <div class="box">
          <div class="form-group row">
            <label for="firstname" class="col-lg-2 col-form-label">First name:</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="firstname" placeholder="Enter you first name here." autofocus="">
            </div>
          </div>
          <div class="form-group row">
            <label for="lastname" class="col-lg-2 col-form-label">Last name:</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="lastname" placeholder="Enter your last name here.">
            </div>
          </div>
           <div class="form-group row">
            <label for="email" class="col-lg-2 col-form-label" >*Email:</label>
            <div class="col-lg-10">
              <input type="email" class="form-control" id="email" placeholder="Enter your email here." required="">
            </div>
          </div>
           <div class="form-group row">
            <label for="confirmemail" class="col-lg-2 col-form-label">*Confirm email:</label>
            <div class="col-lg-10">
              <input type="email" class="form-control" id="confirmemail" placeholder="Confirm your email here." required="">
            </div>
          </div>
           <div class="form-group row">
            <label for="username" class="col-lg-2 col-form-label">*Username:</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="username" required="" placeholder="Enter your username here.">
            </div>
          </div>
           <div class="form-group row">
            <label for="pwd" class="col-lg-2 col-form-label">*Password:</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="pwd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter your password here." required="" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
            </div>
          </div>
          <div class="form-group row text-left">
            <label for="avatar" class="col-lg-2 col-form-label">Insert avatar:</label>
            <div class="col-lg-4">
              <div class="embed-responsive embed-responsive-4by3">
                <iframe class="form-control embed-responsive-item" id="avatar"></iframe>
              </div>
            </div>
             <ul class="btn-group">
                    <ol>
                      <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#selectpic">
                      <span class="glyphicon glyphicon-picture"></span>
                      </button>
                    </ol>
                    <ol>
                       <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#takepic">
                        <span class="glyphicon glyphicon-camera"></span>
                      </button>
                    </ol>
              </ul>
          </div>
          <!-- Modal -->
          <div id="selectpic" class="modal fade" role="dialog">
            <div class="modal-dialog row">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <div class="row">
                      <h3 class="modal-title">Select picture
                        <button type="button" class="close" data-dismiss="modal">X</button>
                      </h3>
                  </div>
                </div>
                <div class="modal-body btn-group">
                  <label for="filename" class="btn btn-default btn-file">Browse...
                      <input type="file" for="filetext" accept=".jpg, .jpeg, .png" id="filename" name="filename">
                  </label>
                  <input type="text" id="filetext">
                </div>
                <span class="help-block">Please select one file</span>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" id="selectimg">Save changes</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
           <div class="form-group row">
              <div class="form-check col-lg-5">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" required="">
                    I accept terms and condtions
                </label>
              </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-default btn-lg">Sign up now</button>
                </div>
            </div>
            <div class="form-group row text-left">
                  <span class="help-block">* Field required</span>
            </div>
        </div>  <!--box-->
      </div>
      </form>
      </div>
      </div>
    </div>

        <!--Show panel with javascript on click -->
    <div class="bs-panel container" id="loginpnl">
        <div class="panel panel-info">
          <div class="panel-body">
          <hr class="divider">
          <h2 class="text-center text-lg text-uppercase my-0">Go eco!
            <strong>Log in here</strong>
          </h2>
          <hr class="divider">
            <form>
              <div class="bg-faded p-4 my-4">
                <div class="boxpanel">
                  <div class="form-group row text-right">
                    <label for="userid" class="col-lg-4 col-form-label">Username</label>
                    <div class="col-lg-6">
                      <input type="text" class="form-control" id="userid" placeholder="Enter your business id here" autofocus="">
                    </div>
                  </div>
                   <div class="form-group row text-right">
                      <label for="pwd" class="col-lg-4 col-form-label">Password</label>
                      <div class="col-lg-6">
                           <input type="text" class="form-control" id="userid" placeholder="Enter your business id here" autofocus="">
                      </div>
                   </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" required="">
                      Remember me
                    </label>
                  </div>
                  <div class="text-center">
                     <a class="nav-link text-lowercase text-capitalize text-expanded" href="home.html">Forgot your login?
                    </a>
                     <a class="nav-link text-lowercase text-capitalize text-expanded" href="home.html">Forgot your password?
                    </a>
                  </div>
                   <div class="text-center">
                      <button type="button" class="btn" id="selectbtn">Log in</button>
                      <button type="button" class="btn" id= "closebtn" data-dismiss="modal">Close</button>
                  </div>
                </div>
               </div>
            </form>
          </div>
       </div>
    </div>


    <div class="bs-panel container" id="searchpnl">
      <div class="panel panel-info">
          <div class="panel-body">
           <hr class="divider">
          <h2 class="text-center text-lg text-uppercase my-0">Go eco!
            <strong>Search for business location here</strong>
          </h2>
          <hr class="divider">
            <form>
              <div class="bg-faded p-4 my-4">
                <div class="boxpanel">
                  <div class="form-group row text-right">
                    <label for="userid" class="col-lg-4 col-form-label">Search by business identifier</label>
                    <div class="col-lg-6">
                      <input type="text" class="form-control" id="userid" placeholder="Enter your business id here" autofocus="">
                    </div>
                  </div>
                   <div class="form-group row text-right">
                      <label for="pwd" class="col-lg-4 col-form-label">Search by category</label>
                      <div class="col-lg-6">
                           <select id="category" class="col-lg-12" placeholder="default"></select>
                      </div>
                   </div>
                    <div class="form-group row text-right">
                      <label for="telnum" class="col-lg-4 col-form-label">Search by location</label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" id="userid" placeholder="Enter your location here" autofocus="">
                      </div>
                    </div>
                      <div class="form-group row text-right">
                      <label for="telnum" class="col-lg-4 col-form-label">Search by business name</label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" id="userid" placeholder="Enter the business name here" autofocus="">
                      </div>
                    </div>
                     <div class="text-center">
                        <button type="button" class="btn" id="selectbtn">Save changes</button>
                        <button type="button" class="btn" id= "closebtn" data-dismiss="modal">Close</button>
                    </div>
                  </div>
               </div>
            </form>
          </div>
       </div>
    </div>



    <footer class="text-center py-5">
      <div class="container">
        <p class="m-0">Copyright &copy; Okra 2017</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/app/js/custom.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD8ExRo7nXIRQPJYy34KyKSfAOCiS-eyc&callback=initMap">
    </script>

  </body>

</html>

