<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="bGreen">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Search</title>

    <!-- Bootstrap core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">


    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Pacifico" rel="stylesheet">

    <!-- Custom styles for this template -->
     <link rel="stylesheet" type="text/css" href="../bower_components/app/css/custom.css">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-default navbar-expand-lg navbar-light py-lg-4" role="navigation">
      <div class="row">

          <div class="col-lg-6 tagline-upper text-left text-expanded text-heading text-shadow mt-5 d-none d-lg-block">
              <a class="navbar-brand text-expanded font-weight-bold" href="cover.html">BGreen</a>
          </div>

        <div class="col-lg-6 mt-5">
            <ul class="nav nav-pills pull-right">
                <li class="">
                    <span class="glyphicon glyphicon-search" data-toggle="tooltip" title="Search business" id="search"></span>
                </li>
                <li class="">
                    <span class="glyphicon glyphicon-log-in" data-toggle="tooltip" title="Log in" id="login"></span>
                </li>
                <li class="">
                  <a href="usersignup.html" class="list-group-item" data-toggle="tooltip" title="Sign up">
                    <span class="glyphicon glyphicon-user"></span>
                  </a>
                </li>
                <li class="">
                  <a href="registerbusiness.html" class="list-group-item" data-toggle="tooltip" title="Register business">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                  </a>
                </li>
            </ul>
          </div>

      </div>

      </nav>

      <!-- Menu Navigation -->
      <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarResponsive">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <div class="collapse  navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav col-lg-12">
                <li class="nav-item active col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="home.html">Home
                  <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="aboutus.html">About us</a>
                </li>
                <li class="nav-item col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="mission.html">Get mission</a>
                </li>
                <li class="nav-item col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="projects.html">Projects</a>
                </li>
                 <li class="nav-item col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="faqs.html">Faq's</a>
                </li>
                 <li class="nav-item col-lg-2">
                  <a class="nav-link text-lowercase text-capitalize text-expanded" href="news.html">Outspace news</a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
    </header>


    <div class="bs-panel container">
      <div class="panel panel-info">
          <div class="panel-body">
            <h2 class="text-center">Sign out</h2>
            <form>
              <div class="bg-faded p-4 my-4">
                <div class="boxpanel">
                   <p class="text-center">Would you lile to leave?</p>
                   <i class="fa fa-frown-o" style="font-size:48px;color:green"></i>
                   <div class="row">
                      <button type="button" class="btn col-lg-4 text-center" id="selectbtn">Yes</button>
                      <button type="button" class="btn col-lg-4" id= "closebtn">No</button>
                  </div>
                </div>
               </div>
            </form>
          </div>
       </div>
    </div>

  </body>
</html>
