{% extends "base.html" %}
{% block content %}
<section id="mainSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 bg-faded" id="sect1">
        <div id="test">
          <div clas="panel panel-default">
             <div class="panel-heading">
                <hr class="divider">
                  <h2 class="text-center">Shocking world news</h2>
                <hr class="divider">
             </div>
             <table class="table table-fixed">
              <tbody>
              <tr>
                <td>
                  <h4>The hype economy</h4>
                  <img src="../bower_components/app/img/hype.jpg" alt="pic1" class="newpic">
                  <br>
                  <br>
                  <p>
                  "A collaboration between two dramatically different brands has prompted consumer hysteria –
                   and huge resale profits for canny fashion speculators. Luke Leitch travelled from the
                   calm of the designer’s studio in Paris to the chaos of the pavement queues in London to find out why"
                  </p>
                  <a href="https://www.1843magazine.com/style/the-hype-economy">Click here to read more about it.</a>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>Chemicals in food</h4>
                  <img src="../bower_components/app/img/foodchemicals.png" alt="pic2" class="newpic">
                  <br>
                  <br>
                  <p>
                  "ANSES conducts expert appraisals on several chemicals suspected of being endocrine disruptors."
                  </p>
                  <a href="https://www.anses.fr/en/content/plusieurs-substances-chimiques-suspect%C3%A9es-d%E2%80%99%C3%AAtre-perturbateurs-endocriniens-expertis%C3%A9es-par">Click here to read more about it.</a>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>Lost all hope</h4>
                  <img src="../bower_components/app/img/drugs.jpg" alt="pic3" class="newpic">
                  <br>
                  <br>
                  <p>
                  "Drug poisoning in England and Wales."
                  </p>
                  <a href="http://lostallhope.com/suicide-statistics/drug-poisoning-england-and-wales">Click here to read more about it.</a>
                </td>
              </tr>
               <tr>
                <td>
                  <h4>Toxic fashion.</h4>
                  <img src="../bower_components/app/img/fashiontoxic.jpg" alt="pic4" class="newpic">
                  <br>
                  <br>
                  <p>
                  "The clothing industry is one of the most polluting industries on the planet, and the textiles they produce may be laced with irritants and disease-causing chemicals."
                  </p>
                  <a href="https://articles.mercola.com/sites/articles/archive/2017/06/27/toxic-clothing.aspx">Click here to read more about it.</a>
                </td>
              </tr>
               <tr>
                <td>
                  <h4>Alcohol giants.</h4>
                  <img src="../bower_components/app/img/alcohol.jpg" alt="pic5" class="newpic">
                  <br>
                  <br>
                  <p>
                  "Global Fund collusion with liquor giant is a clear conflict of interest."
                  </p>
                  <a href="http://www.scielosp.org/scielo.php?script=sci_arttext&pid=S0042-96862012000100015">Click here to read more about it.</a>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>GM crops.</h4>
                  <img src="../bower_components/app/img/crops.png" alt="pic6" class="newpic">
                  <br>
                  <br>
                  <p>
                  "Planting the future: opportunities and challenges for using crop genetic improvement technologies for sustainable agriculture."
                  </p>
                  <a href="http://fundacion-antama.org/wp-content/uploads/2017/03/Maquette_Guide_GM_Crops_EB_2017_v9_Final.pdf">Click here to read more about it.</a>
                </td>
              </tr>
               <tr>
                <td>
                  <h4>Corruption.</h4>
                  <img src="../bower_components/app/img/bomb.jpg" alt="pic7" class="newpic">
                  <br>
                  <br>
                  <p>
                  "The journalist who led the Panama Papers investigation into corruption in Malta was killed on Monday in a car bomb near her home."
                  </p>
                  <a href="https://www.theguardian.com/world/2017/oct/16/malta-car-bomb-kills-panama-papers-journalist">Click here to read more about it.</a>
                </td>
              </tr>
                <tr>
                <td>
                  <h4>Gambling.</h4>
                  <img src="../bower_components/app/img/gambling.jpg" alt="pic7" class="newpic">
                  <br>
                  <br>
                  <p>
                  "Founder of online bookmaker becomes UK’s highest paid boss as concern rises about number of lives ruined by gambling addiction."
                  </p>
                  <a href="https://www.theguardian.com/business/2017/nov/12/bet365-chief-denise-coates-paid-217m-last-year?CMP=twt_gu">Click here to read more about it.</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
       <div class="col-xs-8 bg-faded" id="sect2">
        <div class="row">
         <div class="panel panel-primary">
        <div class="">
            <!--<h3 class="panel-title">Title</h3>-->
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane active bg-faded" id="new">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.1843magazine.com/style/the-hype-economy" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
      </div>
    </div>
    <article>
      <div class="bg-faded p-4 my-4">
        <hr>
        <div class="box1">
            <ul class="nav-pills text-expanded" id="brandIcons">
                <li class="">
                   <i style="font-size:36px" class="fa">&#xf173;</i>
                </li>
                 <li class="">
                    <i class="fa fa-twitter" style="font-size:36px"></i>
                </li>
                <li class="">
                    <i class="fa fa-facebook" style="font-size:36px"></i>
                </li>
                 <li class="">
                    <i class="fa fa-youtube" style="font-size:36px"></i>
                </li>
                <li class="">
                    <i class="fa fa-rss" style="font-size:36px"></i>
                </li>
            </ul>
          </div>
      </div>
      </article>
  </div><!-- /.container -->
</section>
{% endblock %}
