{% extends "default.html" %}
{% block content %}
  <div class="container bg-faded" id="policy">
    <div class="jumbotron">
        <div class="container">
            <h2>Cookie directive</h2>
            <p>Within EU we need to inform the visitor that the site is using cookies. See<code>Privacy policy</code> and <code> Cookie policy </code> if you want to now more about it.<span class="btn btn-primary btn-xs removecookie">Remove cookie</span></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Advertising</h2><p>This type of service allows User Data to be utilized for advertising communication purposes displayed in the form of banners and other advertisements on this Website, possibly based on User interests.</p>
                <p>This does not mean that all Personal Data are used for this purpose. Information and conditions of use are shown below.</p>
                <p>Some of the services listed below may use Cookies to identify Users or they may use the behavioral retargeting technique, i.e. displaying ads tailored to the User’s interests and behavior, including those detected outside this Website. For more information, please check the privacy policies of the relevant services.</p>
                <p>In addition to any opt out offered by any of the services below, the User may opt out of a third-party service's use of cookies by visiting the Network Advertising Initiative opt-out page.</p></div>
            <div class="col-md-4">
                <h2>Analytics</h2><p>The services contained in this section enable the Owner to monitor and analyze web traffic and can be used to keep track of User behavior.</p>
                <b>Google Analytics (Google Inc.)</b>
                <p>Google Analytics is a web analysis service provided by Google Inc. (“Google”). Google utilizes the Data collected to track and examine the use of this Website, to prepare reports on its activities and share them with other Google services.</p>
                <p>Google may use the Data collected to contextualize and personalize the ads of its own advertising network.</p>
                <p>Personal Data collected: Cookies and Usage Data.
                Place of processing: United States – Privacy Policy – Opt Out. Privacy Shield participant.</p></div>
            <div class="col-md-4">
                <h2>SPAM protection</h2><p>This type of service analyzes the traffic of this Website, potentially containing Users' Personal Data, with the purpose of filtering it from parts of traffic, messages and content that are recognized as SPAM.</p>
                <b>Google reCAPTCHA (Google Inc.)</b>
                <p>Google reCAPTCHA is a SPAM protection service provided by Google Inc.
                The use of reCAPTCHA is subject to the Google privacy policy and terms of use.
                Personal Data collected: Cookies and Usage Data.</p>
                <p>Place of processing: United States – Privacy Policy. Privacy Shield participant.</p></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Cookie Policy of Okra.com</h2>
                <p>Cookies consist of portions of code installed in the browser that assist the Owner in providing the Service according to the purposes described. Some of the purposes for which Cookies are installed may also require the User's consent.</p>
                <p>
                Where the installation of Cookies is based on consent, such consent can be freely withdrawn at any time following the instructions provided in this document.</p>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
             <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title text-left">
                    <a role="button btn-default" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                    Activity strictly necessary for the functioning of the Service
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"  href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      <div class="panel-body">
                        <p>This Website uses Cookies to save the User's session and to carry out other activities that are strictly necessary for the operation of this Website, for example in relation to the distribution of traffic.</p>
                      </div>
                </div>
              </div>
          </div>
        </div>
        </br>
        <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title text-left">
                    <a role="button btn-default" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" >
                    Activity regarding the saving of preferences, optimization, and statistics
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"  href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <div class="panel-body">
                        <p>This Website uses Cookies to save browsing preferences and to optimize the User's browsing experience. Among these Cookies are, for example, those used for the setting of language and currency preferences or for the management of first party statistics employed directly by the Owner of the site.</p>
                      </div>
                </div>
              </div>
            </div>
        </div>
        </br>
          <div class="row">
              <div class="col-md-12">
                  <h3>Other types of Cookies or third parties that install Cookies</h3>
                  <br />
                  <p>Some of the services listed below collect statistics in an anonymized and aggregated form and may not require the consent of the User or may be managed directly by the Owner - depending on how they are described - without the help of third parties.</p>
                  </br>
                  <p>If any third party operated services are listed among the tools below, these may be used to track Users’ browsing habits – in addition to the information specified herein and without the Owner’s knowledge. Please refer to the privacy policy of the listed services for detailed information..</p>
              </div>
          </div>
          </br>
          <div class="row">
              <div class="col-md-12">
                  <h3>How to provide or withdraw consent to the installation of Cookies</h3>
                  <p>In addition to what is specified in this document, the User can manage preferences for Cookies directly from within their own browser and prevent – for example – third parties from installing Cookies.
                  Through browser preferences, it is also possible to delete Cookies installed in the past, including the Cookies that may have saved the initial consent for the installation of Cookies by this website.
                  Users can, for example, find information about how to manage Cookies in the most commonly used browsers at the following addresses: Google Chrome, Mozilla Firefox, Apple Safari and Microsoft Internet Explorer.</p>
                  </br>
                  <p>With regard to Cookies installed by third parties, Users can manage their preferences and withdrawal of their consent by clicking the related opt-out link (if provided), by using the means provided in the third party's privacy policy, or by contacting the third party.</p>
                  </br>
                  <p>Notwithstanding the above, the Owner informs that Users may follow the instructions provided on the subsequently linked initiatives by the EDAA (EU), the Network Advertising Initiative (US) and the Digital Advertising Alliance (US), DAAC (Canada), DDAI (Japan) or other similar services. Such initiatives allow Users to select their tracking preferences for most of the advertising tools. The Owner thus recommends that Users make use of these resources in addition to the information provided in this document.</p>
                  </br>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <h3>Owner and data controller</h3>
                  Ohra - Marketing e Publicidade Lda</br>
                  M45EH Greater Manchester</br>
                  United Kingdom</br>
                  <br />
                  <b>Owner contact email:</b> info@Okra.com
                  <br /><p>Since the installation of third-party Cookies and other tracking systems through the services used within this Website cannot be technically controlled by the Owner, any specific references to Cookies and tracking systems installed by third parties are to be considered indicative. In order to obtain complete information, the User is kindly requested to consult the privacy policy for the respective third-party services listed in this document.</p>
                  </br>
                  <p>Given the objective complexity surrounding the identification of technologies based on Cookies, Users are encouraged to contact the Owner should they wish to receive any further information on the use of Cookies by this Website.</p>
              </div>
          </div>
          </br>
          <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title text-left">
                      <a role="button btn-default" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" >
                      Definitions and legal references
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree"  href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <div class="panel-body">
                    <p><b>Personal Data (or Data)</b>
                    Any information that directly, indirectly, or in connection with other information — including a personal identification number — allows for the identification or identifiability of a natural person.</p>
                    </br>
                    <p><b>Usage Data</b>
                    Information collected automatically through this Website (or third-party services employed in this Website), which can include: the IP addresses or domain names of the computers utilized by the Users who use this Website, the URI addresses (Uniform Resource Identifier), the time of the request, the method utilized to submit the request to the server, the size of the file received in response, the numerical code indicating the status of the server's answer (successful outcome, error, etc.), the country of origin, the features of the browser and the operating system utilized by the User, the various time details per visit (e.g., the time spent on each page within the Application) and the details about the path followed within the Application with special reference to the sequence of pages visited, and other parameters about the device operating system and/or the User's IT environment.</p>
                    </br>
                    <p><b>User</b>
                    The individual using this Website who, unless otherwise specified, coincides with the Data Subject.</p>
                    </br>
                    <p><b>Data Subject</b>
                    The natural person to whom the Personal Data refers.</p>
                    </br>
                    <p><b>Data Processor (or Data Supervisor)</b>
                    The natural or legal person, public authority, agency or other body which processes Personal Data on behalf of the Controller, as described in this privacy policy.</p>
                    </br>
                    <p><b>Data Controller (or Owner)</b>
                    The natural or legal person, public authority, agency or other body which, alone or jointly with others, determines the purposes and means of the processing of Personal Data, including the security measures concerning the operation and use of this Website. The Data Controller, unless otherwise specified, is the Owner of this Website.</p>
                    </br>
                    <p><b>This Website (or this Application)</b>
                    The means by which the Personal Data of the User is collected and processed.</p>
                    </br>
                    <p><b>Service</b>
                    The service provided by this Website as described in the relative terms (if available) and on this site/application.</p>
                    </br>
                    <p><b>European Union (or EU)</b>
                    Unless otherwise specified, all references made within this document to the European Union include all current member states to the European Union and the European Economic Area.</p>
                    </br>
                    <p><b>Cookies</b>
                    Small sets of data stored in the User's device.</p>
                    </p>
                    <p>
                      <h3>Legal information</h3>
                      <p>This privacy statement has been prepared based on provisions of multiple legislations, including Art. 13/14 of Regulation (EU) 2016/679 (General Data Protection Regulation).</p>
                      </br>
                      <p>This privacy policy relates solely to this Website, if not stated otherwise within this document.</p>
                    </p>
                  </div>
                  </div>
                </div>
            </div>
            </br>
          </div>
    </div>
  </div>
{% endblock %}
