{% extends "base.html" %}
{% block content %}
<section id="mainSection">
  <div class="container">
    <div class="jumbotron">
        <div class="container">
          <h1>Register your ECO business!!!</h1>
          <p> Let's change the world from the bottom...</p>
          <p><button type="button" class="btn btn-success btn-lg" onclick="registerBusiness()">Register</button></p>
        </div>
    </div>
    <article>
    <div class='row'>
      <div class='col-md-4 bg-faded col-md-offset-2'>
        <h1>Dr. Juice</h1>
        <p>"Dr Juice originated from humble begins and remains committed to sound ethics and exemplary business practice. The brand Dr Juice was Born and Raised on the magical Mediterranean island of Malta. Its founder John Winfield arrived in Malta in 2004 and was quick to discover a distinct lack of accessible healthy products for people on the go."
        </br>
        </br>
        </br>
        </p>
        <a href="http://drjuice.com.mt" class="btn btn-success">know More</a>
        <hr>
      </div>
      <div class='col-md-4 bg-faded col-md-offset-2'>
        <h1>Alazia</h1>
        <p>"Alazia expresses the necessity of transformation and, in turn, the fear of remain the same. Our label contains chamomile seeds to give it a second life. You only have to plant it and give it a second chance. Because big changes always start by small actions. Rome wasn’t built in a day.
        And, remember, as Gandhi said: “Be the change you wish to see in the world”."
        </br>
        </br>
        </p>
        <a href="https://reve-en-vert.com/our-ethos/" class="btn btn-success">Know More</a>
        <hr>
      </div>
      <div class='col-md-4 bg-faded col-md-offset-2'>
        <h1>Rêve en vert</h1>
        <p>"Founded in 2013, Rêve En Vert has established itself as the premier online retailer of sustainable luxury. To us, sustainable luxury is quality style made from a place of consciousness, and we hold our designers to four tenants: organic, re-made, local and fair. At Rêve En Vert we don’t sacrifice style for ethics.
        We are committed to driving awareness of how consumers think about the fashion industry."
        </br>
        </br>
        </p>
        <a href="https://reve-en-vert.com/product-category/clothing/all-clothing"
        class="btn btn-success">know More</a>
        <hr>
      </div>
    </div> <!--row0-->
    <hr/>
    <div class='row'>
      <div class='col-md-4 bg-faded col-md-offset-2''>
        <h1>Tortuga boreal</h1>
        <p>Natural building </br>
           Handmade furniture and carvings </br>
           Shelters and roofs </br>
           Stoves and ovens </br>
           Green and round wood working </br>
           Much more...
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
        </p>
        <a href="https://www.alaziacouture.com" class="btn btn-success">know More</a>
        <hr>
      </div>
      <div class='col-md-4 bg-faded col-md-offset-2''>
        <h1>Hoerger-biohotel</h1>
        <p>"The Biohotel Hörger became a pioneering environmentally conscious and ecological hotel. With its exceptional concept is has ever since inspired and created new incentives in the fields of species-appropriate breeding and organic farming. We aim at showing the people that sustainability is not about self-deprivation, but that pure natural produce, consciously enjoyed, can contribute to the quality of our lives – and is also more than satisfying for demanding palates. To reflect our ecological attitude also with the hotelbuilding, it was exclusively furnished using wood to create an overall pleasant and cosy ambiance in tune with nature."
        </br>
        </br>
        </p>
        <a href="http://www.hoerger-biohotel.de" class="btn btn-success">know More</a>
        <hr>
      </div>
        <div class='col-md-4 bg-faded col-md-offset-2''>
          <h1>Bodega Jose Luis Aristegui Anido</h1>
          <p>My friend Anido gives "an Universe in each bottle." His wineyard was planted in 1930, with his grapes his grandfather processed a
           wine that he offered with sardines and eels.
           Later on, his father kept the tradition and made possible that nowadays Anido could take over to keep offering the world his
           wines.
           His wines José Aristegui Godello, José Aristegui Mencia and Traste a "coupage" of Garnacha Tintorera and Mencía are positioning
           themselves in the Spanish market, and as a signature wines, they are pointed to a market segment of middle range and high end.
          </p>
          <a href="http://www.dovaldeorras.tv/wine-cellars/bodega-jose-luis-aristegui-anido/" class="btn btn-success">know More</a>
          <hr>
        </div>
      </div><!--row1-->
      <hr/>
    <div class="row">
      <div class='col-md-4 bg-faded col-md-offset-2''>
        <h1>Lakshmi Norge</h1>
        <p>Beauty natural products from Norway.
          Contribute to awareness of comprehensive knowledge to improve human quality of life. Learn to live with humility and respect for all living animals, plants and the environment on our planet. Therefore, we deliver only certified organic-organic products that are not tested on animals and which provide the best essence from mother soil.
          </br>
          </br>
        </p>
        <a href="https://lakshminorge.ecwid.com/" class="btn btn-success">know More</a>
        <hr>
      </div>
      <div class='col-md-4 bg-faded col-md-offset-2''>
        <h1>La Vaca Lucera</h1>
        <p>Catuxa is different. :)
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </p>
        <a href="https://www.facebook.com/lavacalucera/" class="btn btn-success">know More</a>
        <hr>
      </div>
      <div class='col-md-4 bg-faded col-md-offset-2''>
        <h1>Beaumont Organic</h1>
        <p>The home of fair trade clothing and ethical fashion. Within the shop, there are many ways for you to find that special product you’re looking for; Shopping by Style, by Eco Fabric or by browsing our Sale Bargains. If you have a question or query, make sure you visit the Contact Us page and get in touch - happy shopping!
        </p>
        <a href="https://www.beaumontorganic.com/collections/shop" class="btn btn-success">know More</a>
        <hr>
      </div>
    </div> <!--row2-->
    </article>
    <article>
    <div class="bg-faded p-4 my-4">
      <hr>
      <div class="box1">
          <ul class="nav-pills text-expanded" id="brandIcons">
              <li class="">
                 <i style="font-size:36px" class="fa">&#xf173;</i>
              </li>
               <li class="">
                  <i class="fa fa-twitter" style="font-size:36px"></i>
              </li>
              <li class="">
                  <i class="fa fa-facebook" style="font-size:36px"></i>
              </li>
               <li class="">
                  <i class="fa fa-youtube" style="font-size:36px"></i>
              </li>
              <li class="">
                  <i class="fa fa-rss" style="font-size:36px"></i>
              </li>
          </ul>
        </div>
    </div>
    </article>
  </div> <!-- /.container -->
</section>
{% endblock %}
