<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <base href="bGreenFrontEnd">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BGreen default</title>

    <!-- Bootstrap core CSS -->
    <link href="../bower_components/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">


    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Pacifico" rel="stylesheet">

    <!-- Custom styles for this template -->
     <link rel="stylesheet" type="text/css" href="../bower_components/vendor/bootstrap/css/custom.css">

  </head>

  <body>

    <div class="tagline-upper text-left text-heading text-shadow mt-5 d-none d-lg-block">
      <a href="cover.html">BGreen</a>
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </div>


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light py-lg-4">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="cover.html">BGreen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-lowercase text-capitalize text-expanded" href="home.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-lowercase text-capitalize text-expanded" href="aboutus.html">About us</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-lowercase text-capitalize text-expanded" href="mission.html">Get a mission</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-lowercase text-capitalize text-expanded" href="projects.html">Projects</a>
            </li>
             <li class="nav-item px-lg-4">
              <a class="nav-link text-lowercase text-capitalize text-expanded" href="faqs.html">Faq's</a>
            </li>
             <li class="nav-item px-lg-4">
              <a class="nav-link text-lowercase text-capitalize text-expanded" href="news.html">Outspace news</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">Go eco!
          <strong>Sign up here</strong>
        </h2>
        <hr class="divider">
        <div class="form-group row">
          <label for="lastname" class="col-2 col-form-label">*First name:</label>
          <div class="col-10">
            <input type="text" class="form-control" id="lastname">
          </div>
        </div>
         <div class="form-group row">
          <label for="email" class="col-2 col-form-label">Last Name:</label>
          <div class="col-10">
            <input type="email" class="form-control" id="email">
          </div>
        </div>
         <div class="form-group row">
          <label for="confirmemail" class="col-2 col-form-label">*Email:</label>
          <div class="col-10">
            <input type="email" class="form-control" id="confirmemail">
          </div>
        </div>
         <div class="form-group row">
          <label for="username" class="col-2 col-form-label">*Confirm email:</label>
          <div class="col-10">
            <input type="text" class="form-control" id="username">
          </div>
        </div>
         <div class="form-group row">
          <label for="pwd" class="col-2 col-form-label">*Password:</label>
          <div class="col-10">
            <input type="password" class="form-control" id="pwd">
          </div>
        </div>
        <div class="form-group row text-left">
          <label for="comment" class="col-4 col-form-label">Insert avatar:</label>
          <div class="col-4">
            <textarea class="form-control" rows="5" id="avatar"></textarea>
          </div>
          <div class="">
            <span class="form-control glyphicon" id="iconpic"></span>
            <span class="form-control glyphicon" id="iconcamera"></span>
          </div>
        </div>
        <div class="row text-center">
              <span class="help-block text-center">* Field required</span>
        </div>
        <hr class="divider">
        <div class="form-group row">
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
              I accept terms and condtions
            </label>
          </div>
          <div>
            <button type="submit" class="btn btn-default">Sign up</button>
          </div>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <footer class="text-center py-5">
      <div class="container">
        <p class="m-0">Copyright &copy; BGreen 2017</p>
        <span class="glyphicon glyphicon-search"></span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../bower_components/vendor/jquery/jquery.min.js"></script>
    <script src="../bower_components/vendor/popper/popper.min.js"></script>
    <script src="../bower_components/vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>


